Title = "Postfix"
LogFile = maillog
*OnlyService = "postfix/[-a-zA-Z\d]*"
$postfix_Syslog_Name = "postfix"

#$postfix_Max_Report_Width = 100
$postfix_Recipient_Delimiter = "+"
$postfix_ipaddr_width = 40
