{% macro logrotate_conf(linux_os_family) %}
{% if linux_os_family in ['redhat-7', 'redhat-6'] %}
/var/log/wtmp {
    monthly
    create 0664 root utmp
    minsize 1M
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0600 root utmp
    rotate 1
}
{% endif %}
{% endmacro %}

