// Here you can add other styles
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.preloader {
    padding-left: 1rem;
    padding-top: 1rem;
    width: calc(100% - 2rem);
}

.hidden {
    display: none !important;
}